*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

html[class='dark'] .light-img {
    display: none !important;
}

html[class='light'] .dark-img {
    display: none !important;
}

body {
    font-family: var(--font-rubik);
}

a {
    text-decoration: none;
    color: inherit;
}

.w-full {
    width: 100%;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
